/* Ваш текущий стиль .language-select */
.language-select {
  display: flex;
  justify-content: center;
  margin-top: -35px; /* Регулируйте отступ сверху по вашему усмотрению */
}

/* Стили для кнопки на мобильных устройствах */
#languageSelector {
  padding: 10px 20px;
  border-radius: 30px; /* Закругление углов */
  background-color: #f0f0f0; /* Цвет фона кнопки */
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 100%; /* Занимает всю доступную ширину */
  text-align: center; /* Выравнивание текста по центру */
}

#languageSelector:hover {
  background-color: #e0e0e0; /* Цвет фона кнопки при наведении */
}

/* Медиа-запрос для адаптации под маленькие экраны (мобильные устройства) */
@media screen and (max-width: 480px) {
  .language-select {
    margin-top: -60px; /* Уменьшаем отступ сверху для маленьких экранов */
  }

  #languageSelector {
    font-size: 14px; /* Уменьшаем размер шрифта для маленьких экранов */
    padding: 8px 16px; /* Уменьшаем отступы для маленьких экранов */
  }
}
